html
	head
		title="User-app"
		link(rel='stylesheet', href='styles.css' type='text/css')
	body
		h1(id="title") Hey! It's a list : 
		p(id="liste")
		ul(class="text")
			each something in data
				li.something #{something.firstname} #{something.lastname} : #{something.email}


