html
	head
		link(rel='stylesheet' href='styles.css' type='text/css')
		link(rel='stylesheet' href='jquery-ui.min.css' type="text/css")
	body
		h1 Search here ! 
		div(class="menubar")
			li
				a(class='S1' href ='./search') Search
			li
				a(class='S2' href ='./newusers') Subsribe

		div(class='form1')
			form(id="formjs" autocomplete="off")
				p Firstname: 
					input#firstinput(name="firstname" type="text")
				p Lastname:  
					input#lastinput(name="lastname" type="text")
				p
					input#button(class="button" type="submit" value="Search!")
		div#resultat

script(src="jquery-3.1.1.min.js")
script(src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous")
script(type='text/javascript' src='mainfe.js')




//- <form action="action_page.php">
//- First name:<br>
//- <input type="text" name="firstname">
//- <br>
//- Last name:<br>
//- <input type="text" name="lastname">
//- <br><br>
//- <input type="submit">
//- </form>
//-(action=)


