html
	head
	body
		h1 Who are you looking for ? Find your mate here ! 
		form(method="POST" action="/return")
			p Firstname:   
				input(name="firstname" type="text")
			p Lastname:   
				input(name="lastname" type="text")
			p
				input(type="submit" value="FIND HERE!")






//- <form action="action_page.php">
//- First name:<br>
//- <input type="text" name="firstname">
//- <br>
//- Last name:<br>
//- <input type="text" name="lastname">
//- <br><br>
//- <input type="submit">
//- </form>
//-(action=)


