html
	head
		link(rel='stylesheet', href='styles.css' type='text/css')
		script(type='text/javascript' src='static/mainfe.js')
	body
		h1 Search here ! 
		div(class="menubar")
			li
				a(class='S1')(href ='./search') Search
			li
				a(class='S2')(href ='./newusers') Subsribe

		div(class='form1')
			form(method="POST" action="/return")
				p Firstname: 
					input(name="firstname" type="text")
				p Lastname:  
					input(name="lastname" type="text")
				p
					input(class="button")(type="submit" value="Search!")






//- <form action="action_page.php">
//- First name:<br>
//- <input type="text" name="firstname">
//- <br>
//- Last name:<br>
//- <input type="text" name="lastname">
//- <br><br>
//- <input type="submit">
//- </form>
//-(action=)


